<table [dataSource]="transactions" class="mat-elevation-z8" mat-table>
  <ng-container matColumnDef="transactionId">
    <th *matHeaderCellDef mat-header-cell>ID</th>
    <td *matCellDef="let transaction" mat-cell>{{transaction.transactionId}}</td>
  </ng-container>

  <ng-container matColumnDef="fullName">
    <th *matHeaderCellDef mat-header-cell>Full Name</th>
    <td *matCellDef="let transaction" mat-cell>{{transaction.fullName}}</td>
  </ng-container>

  <ng-container matColumnDef="transactionType">
    <th *matHeaderCellDef mat-header-cell>Type</th>
    <td *matCellDef="let transaction" mat-cell>{{transaction.transactionType | transactionType}}</td>
  </ng-container>

  <ng-container matColumnDef="accountNumber">
    <th *matHeaderCellDef mat-header-cell>Account</th>
    <td *matCellDef="let transaction" mat-cell>{{transaction.accountNumber}}</td>
  </ng-container>

  <ng-container matColumnDef="bankCode">
    <th *matHeaderCellDef mat-header-cell>Bank Code</th>
    <td *matCellDef="let transaction" mat-cell>{{transaction.bankCode}}</td>
  </ng-container>

  <ng-container matColumnDef="issueDate">
    <th *matHeaderCellDef mat-header-cell>Date</th>
    <td *matCellDef="let transaction" mat-cell>{{transaction.issueDate | date}}</td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th *matHeaderCellDef mat-header-cell>Amount</th>
    <td *matCellDef="let transaction" mat-cell>{{transaction.amount | currency}}</td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
